.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
    flex: 1;
    margin: 1.213%;
    padding: 1.213%;
    width: auto;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    background-image: linear-gradient(#ee1213, #000000);
}