/* Apply Module 9 - Google Font globally */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* type selector */
/* vh is viewport height so it can adapt to different displays */
img {
    height: 40vh;
    width: 12.13vw;
}

.homeIcon {
    height: 1.213rem;
    width: 1.213rem;
}

/* id selector */
/* rem is relative to root element meaning the default text size of the html page */
#titleMain {
    font-weight: bold;
    font-size: 1.20rem;
    color: #ffffff;
}

/* relational selector */
ul>li {
    font-style: italic;
}

ul.custom_ul {
    list-style-image: url("./images/eye.png");
}

/* combination selector */
footer.titleFoot {
    font-size: 0.80rem;
    padding: 5px;
    background-image: linear-gradient(#ee1213, #000000);
    color: #ffffff;
}

a.offsite {
    color: #ffffff;
    background-image: linear-gradient(#ee1213, #000000);
}

a.placeholder {
    color: #ffffff;
    background-image: linear-gradient(#ee1213, #000000);
}

header a {
    color: #ffffff;
    padding: 5px;
}

/* psuedo-class */
a:hover {
    color: #e1e213;
}

header a:hover {
    color: #e1e213;
}

header {
    background-image: linear-gradient(#ee1213, #000000);
    text-align: center;
    padding: 5px;
}

nav {
    background-image: linear-gradient(#ee1213, #000000);
}

/* Flex container added to nav_menu */
#nav_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
}

#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
    font-style: normal;
}

#nav_menu ul li a {
    color: #ffffff;
}

#nav_menu ul li a:hover {
    color: #e1e213;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.box {
    flex: 1;
    margin: 1.213%;
    padding: 1.213%;
    width: auto;
}

/* Media Query shift from horizontal to verical navigation menu. */
@media only screen and (max-width: 768px) {

    img {
        width: 31.21vw;
    }

    #nav_menu ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        margin-left: 1.25em;
        margin-bottom: 1.5em;
    }

    #nav_menu ul li {
        width: 200px;
        margin-bottom: .5em;
    }

    #nav_menu ul li a {
        display: block;
        padding: .5em 0 .5em 1.5em;
        color: #ffffff;
    }
}