/* type selector */
/* vh is viewport height so it can adapt to different displays */
img {
    height: 40vh;
}

/* id selector */
/* rem is relative to root element meaning the default text size of the html page */
#titleMain {
    font-weight: bold;
    font-size: 1.20rem;
    color: #ffffff;
}

/* relational selector */
ul>li {
    font-style: italic;
}

ul.eye {
    list-style-image: url("./images/eye.png");
}

/* combination selector */
footer.titleFoot {
    font-size: 0.80rem;
    padding: 5px;
    background-image: linear-gradient(#ee1213,#000000);
    color: #ffffff;
}

a {
    color:#ffffff;
    background-image: linear-gradient(#ee1213,#000000);
}

header a {
    color: #ffffff;
    padding: 5px;
}

/* psuedo-class */
a:hover {
    color: #e1e213;
}

header a:hover {
    color: #e1e213;
}

header {
    background-image: linear-gradient(#ee1213,#000000);
    text-align: center;
    padding: 5px;
}